@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
html{
  font-family:  'montserrat', sans-serif;
}

body{
  background-image: url('../images/shubham-dhage-aecIHElCkQI-unsplash.jpg');
  background-size: cover;
  background-position: top center;
  position: relative;
  
}

.container{
  margin-top: 10%;
  margin-left: 3%;
  margin-right: 3%;
  

}
.container h1{
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom:60px ;
  text-align: center;
  color:#fff;
}

.group-members{
  display: flex;
  text-align: center;
  width:auto ;
  justify-content: center;
 
}

.group-members .members:hover{
  transform: scale(1.1);
  width: 25%;
}

.group-members .members{
   background: #a4a5a3;
   margin:5px;
   margin-bottom: 50px ;
   width:300px;
   padding: 20px;
   line-height: 20px;
   color:#fcfcfc;
   position: relative;
   border-radius: 3%;
}

.group-members .members h3{
  color: #6b8555;
  font-size: 26px;
  margin-top: 50px;
}
.group-members .members p.role{
  color: rgb(75, 72, 72);
  font-size: 12px;
  text-transform: uppercase;
  margin:12px 0;
  font-weight: 700;
}

.group-members .members .pic{
  width:100px;
  height:100px;
  border-radius: 50%;
  position: absolute;
  top:-50px;
  left:50%;
  transform: translate(-50%);
  background: #fff;
   
}
.group-members .members .pic img{
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 50%;
}

@media (max-width: 991px) {
  .group-members {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .group-members{
    flex-wrap: wrap;
  }
}

/* -----------------------------------*/
/* FOOTER SECTION STYLING */
/* -----------------------------------*/

footer {
  background: rgb(1, 48, 4);
  height: 80px;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}
footer span a {
  color: rgb(248, 244, 30);
  text-decoration: none;
}
footer span a:hover {
  color: rgb(70, 255, 70);
  font-size: 18px;
  text-decoration: none;
}