


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

.contact {
  font-family: "Poppins", sans-serif;
}
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section {
  padding: 100px 0;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: rgb(126, 59, 156);
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: rgb(107, 193, 2);
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

.contact-main {
  display: flex;
  background-image: linear-gradient(rgba(1, 1, 1, 0.5), rgba(7, 7, 7, 0.5)),
    url(../images/contact.jpg);
  height: 100vh;
  color: rgb(255, 255, 255);
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}
.contact-main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  min-width: 75%;
  text-align: center;
}
.contact-main-text h1 {
  color: rgb(255, 250, 197);
  font-size: 50px;
}
.contact-main-text p {
  font-size: 20px;
  margin: 1rem 0 2rem 0;
}
.contact-main-text a {
  display: inline-block;
  background: rgb(188, 192, 118);
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 30px;
  margin-top: 10px;
  border-radius: 10px;
  border: 3px solid rgb(252, 255, 104);
}
.contact-main-text a:hover {
  background-color: transparent;
  border: 3px solid rgb(0, 0, 0);
  color: rgb(33, 187, 97);
  transition: all 0.5s ease;
}
/* Contact Section Styling */
.contact .title::after {
  content: "Get in touch";
}



.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 70%;
  margin-bottom: 15px;
}

.contact .right form .textarea {
  height: 80px;
  width: 70%;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #36057a;
}
.contact .right form .textarea textarea {
  padding-top: 10px;
}
.contact .right form .button-area {
  display: flex;
  align-items: center;
}
.right form .button-area button {
  color: #fff;
  display: block;
  width: 160px !important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background-color: rgb(0, 77, 4);
  border: 2px solid rgb(110, 255, 78);
  transition: all 0.3s ease;
}
.right form .button-area button:hover {
  color: rgb(0, 0, 0);
  background: none;
}
@media (max-width: 947px) {
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}
.fa:hover {
  
  opacity: 0.6;

}


.fa-linkedin {
  background: #007bb5;
  color: white;
  border-radius: 10px;
}

.fa-instagram {
  background: #cb2027;
  color: white;
  border-radius: 10px;
}

.fa-github {
  background: #000000;
  color: white;
  border-radius: 10px;
}
.fa-twitter {
  background: #007bb5;
  color: white;
  border-radius: 10px;
}
.fa-facebook {
  background: #007bb5;
  color: white;
  border-radius: 10px;}
  .fa-telegram {
    background: #007bb5;
    color: white;
    border-radius: 10px;}
.fa {
  padding: 20px;
  font-size: 50px;
  width: 60px;
  text-decoration: none;
  margin: 5px 80px;
}








