/* FOOTER SECTION STYLING */
footer {
  background: rgb(29, 28, 28);
  height: 50px;
  color: rgb(156, 134, 61);;
  position: relative;
  bottom: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 4px;
  width: 100%;
}
footer span a {
  color: rgb(125, 129, 129);
  text-decoration: none;
}
footer span a:hover {
  color: goldenrod;
  font-size: 20px;
  text-decoration: none;
}
