/* FOOTER SECTION STYLING */
footer {
  background: rgb(23, 23, 24);
  height: 50px;
  color: rgb(227, 232, 216,);;
  position: relative;
  top: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 4px;
}
footer span a {
  color: rgb(30, 248, 212);
  text-decoration: none;
}
footer span a:hover {
  color: goldenrod;
  font-size: 20px;
  text-decoration: none;
}
