/* FOOTER SECTION STYLING */
footer {
  background: rgb(32, 34, 43);
  height: 50px;
  padding: 5px 23px;
  color: #fff;
  text-align: center;
  position: relative;
  top: 79px;
}
footer span a {
  color: rgb(248, 244, 30);
  text-decoration: none;
}
footer span a:hover {
  color: rgb(97, 210, 224);
  font-size: 18px;
  text-decoration: none;
}
