/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.4s ease;
}

.max-width {
  padding: 0 80px;
  margin: auto;
}


.navbar {
  position: sticky;
  margin-bottom: 0 auto;
  width: 100%;
  z-index: 999;
  padding: 2px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
  top: 0;
  
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  text-decoration: none;
  color: rgb(198, 204, 202);
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  color: rgb(211, 163, 5);
}
.logo  span:hover {
  font-size: 45px;
  transition: all 0.6s ease;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  text-decoration: none;
  display: block;
  color: rgb(201, 197, 192);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
}
.navbar .menu li a:hover {
  font-size: 21px;
  color: rgb(231, 153, 36);
}
.navbar.apear .menu li a:hover {
  color: #fff;
}

/* menu btn styling */
.menu-btn {
  color: rgb(243, 214, 159);
  font-size: 23px;
  cursor: pointer;
  
}

/* responsive media query start */

@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    left: 80%;
    top: 0;
    text-align: center;
    transition: all 0.3s ease;
    
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
}
