@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
  background-color: black;
  color: rgb(227, 232, 216);
}
body{
  padding-top: 50px;
}
.section{
  width: 100%;
  padding: 20px 0 50px 0;
  position: relative;
  top: 79px;
}
.section-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  transition: 1s;
}
.section-title:hover{
  text-decoration: underline;
}
.work__container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap: 8px;
  margin: auto;
  place-items: center;
}
.work__img{
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 25px rgba(235, 163, 7, 0.315);
  border-radius: .5rem;
  overflow: hidden;
  width: 400px;
  height: 450px;
  padding: 0;
  background-color: rgba(10, 10, 10, 0.5);
}
.work__img img{
  transition: 1s;
  cursor: pointer;
  width: 100%;
}
.work__img img:hover{
  transform: scale(1.05);
}
.project-title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-weight: 600;
  font-size: 25px;
}
.project-title:hover{
  letter-spacing: 2px;
  color:goldenrod;
}