@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
  background-color: black;
  color: rgb(227, 232, 216);
}
body{
  padding-top: 50px;
}
.section{
  width: 100%;
  padding: 20px 0 50px 0;
  position: relative;
  top: 79px;
}
.section-title{
  display: inline-block;
  margin:0px 0px 70px 24vw;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  color: rgb(156, 148, 148);
  text-align: center;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 961px;
  transform: scaleX(0);
  height: 2px;
  top: 79px;
  left:24vw;
  background-color: 
goldenrod;
  transform-origin: bottom right;
  transition: transform 1s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.work__container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap: 8px;
  margin: auto;
  place-items: center;
}
.work__img{
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 25px rgba(245, 243, 240, 0.315);
  border-radius: 0.5rem;
  padding: 0;
  background-color: rgba(255, 255, 255, 1);
}
.work_img_container{
  width: 400px;
  height: 400px;
  object-fit: contain;
  overflow: hidden;
}
.work__img img{
  transition: 1s;
  cursor: pointer;
  width: 100%;
  
}
.work__img img:hover{
  transform: scale(1.05);
}
.project-title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-weight: 600;
  font-size: 25px;
  color: black;
}
.basket{
  background-color:#1B244A;
  color:antiquewhite; 
  border-radius: .5rem;
}
.project-title:hover{
  letter-spacing: 2px;
}