@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all .3s ease;
}
html {
  scroll-behavior: smooth;
  background-color: black;
}
body{
  padding-top: 50px;
}
section {
  padding: 100px 0;
}
.max-width {
  padding: 0 80px;
  margin: auto;
}
footer {
  font-family: "Poppins", sans-serif;
 
}


.home {
  display: flex;
  background-image: linear-gradient(rgba(1, 1, 1, 0.5), rgba(7, 7, 7, 0.5)),
    url(../images/heritage.jpg);
  height: 100vh;
  color: rgb(255, 255, 255);
  min-height: 500px;
  background-size: cover;
  background-attachment: scroll;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  width: 100%;
  display: flex;
}

.home .home-content .text-1 {
  font-size: 40px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 50px;
  margin: 5px 0;
}

/* -----------------------------------*/
/*RESPONSIVE FEATURES*/
/* -----------------------------------*/

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  
    .navbar .menu {
      position: fixed;
      height: 100vh;
      left: 80%;
      top: 0;
      text-align: center;
      transition: all 0.3s ease;
     
      
    }
  
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
@media (max-width: 470px){}

   .home .home-content .text-1 {
    font-size: 20px;
  }
  .home .home-content .text-2 {
    font-size: 10px;
  }
  .home .home-content .text-3 {
    font-size: 3px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
}
