@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all .3s ease;
}
html {
  scroll-behavior: smooth;
  background-color: black;
}
body{
  padding-top: 50px;
}
section {
  padding: 100px 0;
}
.max-width {
  padding: 0 80px;
  margin: auto;
}
footer {
  font-family: "Poppins", sans-serif;
 
}


.home {
  display: flex;
  background-image: linear-gradient(rgba(1, 1, 1, 0.5), rgba(7, 7, 7, 0.5)),
    url(../images/heritage.jpg);
  height: 100vh;
  color: rgb(255, 255, 255);
  min-height: 500px;
  background-size: cover;
  background-attachment: scroll;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  width: 100%;
  display: flex;
}

.home .home-content .text-1 {
  font-size: 50px;
  margin-bottom: 50px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 50px;
  margin: 5px 0;
}
.text-1{
  opacity: 0;
  animation: letterOne 1s 0.5s forwards;
}
.text-2 span{
  opacity: 0;
  
}
.l1{
  animation: letterOne 0.5s 0.5s forwards;
}
.l2{
  animation: letterOne 0.5s 0.7s forwards;
}
.l3{
  animation: letterOne 0.5s 0.9s forwards;
}
.l4{
  animation: letterOne 0.5s 1.1s forwards;
}
.l5{
  animation: letterOne 0.5s 1.3s forwards;
}
.l6{
  animation: letterOne 0.5s 1.5s forwards;
}
.l7{
  animation: letterOne 0.5s 1.7s forwards;
}
.l9{
  animation: letterOne 0.5s 1.9s forwards;
}
.l10{
  animation: letterOne 0.5s 2.1s forwards;
}
.l12{
  animation: letterOne 0.5s 2.3s forwards;
}
.l13{
  animation: letterOne 0.5s 2.5s forwards;
}
.l14{
  animation: letterOne 0.5s 2.7s forwards;
}
.l16{
  animation: letterOne 0.5s 2.9s forwards;
}
.l17{
  animation: letterOne 0.5s 3.1s forwards;
}
.l18{
  animation: letterOne 0.5s 3.3s forwards;
}
.l19{
  animation: letterOne 0.5s 3.5s forwards;
}
.l20{
  animation: letterOne 0.5s 3.7s forwards;
}
.l21{
  animation: letterOne 0.5s 3.9s forwards;
}
.l22{
  animation: letterOne 0.5s 4.1s forwards;
}
@keyframes letterOne{
   to {opacity: 1;}
}



/* -----------------------------------*/
/*RESPONSIVE FEATURES*/
/* -----------------------------------*/

