@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all .3s ease;
}

body{
  padding-top: 50px;
  background: 
    url(../images/shubham-dhage-aecIHElCkQI-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}
/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.4s ease;
}

.max-width {
  padding: 0 80px;
  margin: auto;
}


.navbar {
  position: sticky;
  margin-bottom: 0 auto;
  width: 100%;
  z-index: 999;
  padding: 2px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
  top: 0;
  
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  text-decoration: none;
  color: rgb(198, 204, 202);
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  color: rgb(211, 163, 5);
}
.logo  span:hover {
  font-size: 45px;
  transition: all 0.6s ease;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  text-decoration: none;
  display: block;
  color: rgb(201, 197, 192);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
}
.navbar .menu li a:hover {
  font-size: 21px;
  color: rgb(231, 153, 36);
}

/* menu btn styling */
.menu-btn {
  color: rgb(243, 214, 159);
  font-size: 23px;
  cursor: pointer;
  
}

.max-width {
  padding: 0 80px;
  margin: auto;
}
footer {
  font-family: "Poppins", sans-serif;
}

.home {
  display: flex;
  height: 100px;
  color: rgb(255, 255, 255);
  min-height: 500px;
  background-size: cover;
  background-attachment: scroll;
  font-family: "Poppins", sans-serif;
}
.home .max-width {
  width: 100%;
  display: flex;

}

.home .home-content .text-1 {
  font-size: 50px;
  margin-bottom: 50px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 50px;
  margin: 5px 0;
}
.text-1{
  opacity: 0;
  animation: letterOne 1s 0.5s forwards;
  text-align: center;
  width: 100vw;
}
.text-2 span{
  opacity: 0;
  
}
.l1{
  animation: letterOne 0.5s 0.5s forwards;
}
.l2{
  animation: letterOne 0.5s 0.6s forwards;
}
.l3{
  animation: letterOne 0.5s 0.7s forwards;
}
.l4{
  animation: letterOne 0.5s 1.0s forwards;
}
.l5{
  animation: letterOne 0.5s 1.2s forwards;
}
.l6{
  animation: letterOne 0.5s 1.3s forwards;
}
.l7{
  animation: letterOne 0.5s 1.4s forwards;
}
.l9{
  animation: letterOne 0.5s 1.5s forwards;
}
.l10{
  animation: letterOne 0.5s 2.0s forwards;
}
.l12{
  animation: letterOne 0.5s 2.1s forwards;
}
.l13{
  animation: letterOne 0.5s 2.5s forwards;
}
.l14{
  animation: letterOne 0.5s 2.7s forwards;
}
.l16{
  animation: letterOne 0.5s 2.9s forwards;
}
.l17{
  animation: letterOne 0.5s 3.1s forwards;
}
.l18{
  animation: letterOne 0.5s 3.3s forwards;
}
.l19{
  animation: letterOne 0.5s 3.5s forwards;
}
.l20{
  animation: letterOne 0.5s 3.7s forwards;
}
.l21{
  animation: letterOne 0.5s 3.9s forwards;
}
.l22{
  animation: letterOne 0.5s 4.1s forwards;
}
@keyframes letterOne{
   to {opacity: 1;}
}

.cv{
position: fixed;
top: 65%;
left: 65%;


}
.btn {
 
  color: #fff;
  font-size: larger;
  max-width: max-content;
  padding: var(--padding, 10px 40px);
  border-radius: 40px;
  transition: all 0.3s ease;
  background-color: rgb(203, 163, 19)
}
.btn:hover{
  background-color: black;
 
}



footer {
  background: rgb(29, 28, 28);
  height: 50px;
  color: rgb(156, 134, 61);;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 4px;
  width: 100%;
}
footer span a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
footer span a:hover {
  color: goldenrod;
  font-size: 20px;
  text-decoration: none;
}




